<div class="row" style="width: 100%;margin:0;padding:0;overflow:hidden">


  <div id="registration-form" class="col-sm-12">
    <div class="row ">
      <div class="col-md-4 col-sm-12"></div>
      <div class="col-md-4 col-sm-12 bg-white rounded shadow" style="padding:5%;margin-top: 60px;">
        <h3>Sign up</h3>
        <hr>
        <form #signUpForm=ngForm style="text-align: left" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
          <div class="form-group">
            <input type="text" class="form-control" name="name" #name="ngModel"
              [(ngModel)]="userService.selectedUser.name" placeholder="Enter full name" required
              [ngClass]="{'invalid-textbox': signUpForm.submitted && !name.valid}">
            <div *ngIf="signUpForm.submitted && !name.valid">
              <label class="validation-message">This field is required.</label>
            </div>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" name="email" #email="ngModel"
              [(ngModel)]="userService.selectedUser.email" placeholder="Enter email id" required [pattern]="emailRegex"
              [ngClass]="{'invalid-textbox': signUpForm.submitted && !email.valid}">

            <div *ngIf="signUpForm.submitted && email.errors">
              <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
            </div>
          </div>

          <div class="form-group">
            <input type="password" class="form-control" name="password" #password="ngModel"
              [(ngModel)]="userService.selectedUser.password" placeholder="Enter password" minlength="8" required
              [ngClass]="{'invalid-textbox': signUpForm.submitted && !password.valid}">

            <div *ngIf="signUpForm.submitted && password.errors">
              <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="password.errors.minlength" class="validation-message">Password should be atleast 8
                characters
                long.</label>
            </div>
          </div>

          <div class="form-group">
                        <input type="text" class="form-control" name="mobile" #mobile="ngModel"
              [(ngModel)]="userService.selectedUser.mobile" placeholder="Enter mobile no." required minlength="10"
              [ngClass]="{'invalid-textbox': signUpForm.submitted && !mobile.valid}">

            <div *ngIf="signUpForm.submitted && mobile.errors">
              <label *ngIf="mobile.errors.required" class="validation-message">This field is required.</label>
              <label *ngIf="mobile.errors.minlength" class="validation-message">Please enter a 10 digit mobile
                no.</label>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-12 col-md-4"></div>

            <button class="btn btn-danger col-sm-12 col-md-4 " type="submit">Register</button>

          </div>



        </form>

        <!--Success Message -->
        <div class="success" *ngIf="showSuccessMessage">
          Sign Up Successful!
        </div>

        <!--Error Message -->
        <div class="alert" *ngIf="serverErrorMessage">
          {{serverErrorMessage}}
        </div>

      </div>
    </div>
  </div>
</div>