<section class="mb-4">
  <div class="image-sec text-center">
    <h3
      style="text-transform: uppercase;margin-top: 200px;color:white;font-weight: 600;font-size:40px;letter-spacing:5px;">
      Welcome to the Bookstore</h3>
    <h6 style="color:white;letter-spacing: 3px;"><b>Discover the best books online</b></h6>
    <br>
    <button *ngIf="userService.isloggedIn()" (click)='shop()' class="btn btn-danger">Shop Books</button>
    <button *ngIf="!userService.isloggedIn()" (click)='navigate()' class="btn btn-danger">Shop Books</button>
    <!-- </div> -->
    <!-- <router-outlet></router-outlet> -->
  </div>
</section>

<!-- </section> -->

<section class="features-sec">
  <div class="container-fluid">
    <div class="row padding text-center">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <span class="icon shop"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        <h3 style="color: #ffaf00">SAFE SHOPPING</h3>
        <h6>
          Ours is a secured site that ensures that your sensitive card information and other details is absolutely safe
          with
          us.
        </h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4" style="border-left: 3px solid #d9534f;">
        <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
        <h3 style="color: #00aeef;">7- DAY RETURN</h3>

        <h6>We have a return policy extending up to 7 days ensuring hassle free returns. </h6>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4" style="border-left: 3px solid #d9534f;">
        <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
        <h3 style="color: #00a99d;">24/7 SUPPORT</h3>

        <h6>We provide 24x7 support and our customer care is always there for you when you need us</h6>
      </div>

    </div>
  </div>
</section>


<div class="row">
  
<section class="about-sec col-12" >
  <div class="row">
    <div class=" col-lg-6 col-sm-12 about-img">
      <figure style="background:url(assets//images/about-img.jpg)no-repeat ;opacity:0.7;"></figure>
    </div>
    <div class="about-content col-lg-6 col-sm-12">
      <h3>About Mister BookMan </h3>

      <p class="lead">When it comes to searching for books, there is only one place to turn to the BookMan Bookstore. We
        are
        India’s
        largest online book store and rightly so. Having served some of the best in the industry for over 70 years,we
        are your one stop solution for all your book needs.We have a veritable collection of books that span categories
        as
        diverse as you could possibly expect.

      </p>
      <p class="lead"> In the rare case that you do not find the book you’re looking for, you can always place a request
        in our wish
        list section.
        With an easy payment gateway and a well designed shopping cart, you can shop with great ease and without worry.
      </p>

    </div>
  </div>
</section>
<section class="col-12">
 
</section>
<section class="recomended-sec col-12" >
  <div class="title">
    <h2>Highly Recommended Books</h2>
    <hr>
  </div>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <img src="assets/images/img1.jpg" alt="img">
          <h3>how to be a bwase</h3>
          <h6><span class="price">$49</span> / <a href="#">Buy Now</a></h6>
          <div class="hover">

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <img src="assets/images/img2.jpg" alt="img">
          <h3>How to write a book...</h3>
          <h6><span class="price">$19</span> / <a href="#">Buy Now</a></h6>
          <div class="hover">

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <img src="assets/images/img3.jpg" alt="img">
          <h3>7-day self publish...</h3>
          <h6><span class="price">$49</span> / <a href="#">Buy Now</a></h6>
          <div class="hover">

          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="item">
          <img src="assets/images/img4.jpg" alt="img">
          <h3>wendy doniger</h3>
          <h6><span class="price">$49</span> / <a href="#">Buy Now</a></h6>
          <div class="hover">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
<!-- </section> -->